<auro-radio-group>
  <span slot="legend">Accordion Test</span>
  <auro-radio id="basicGroupRadio1" label="Credit or debit card" name="radioDemo" value="yes"></auro-radio>
  <auro-radio id="basicGroupRadio2" label="Apple Pay" name="radioDemo" value="no"></auro-radio>
  <auro-radio id="basicGroupRadio2" label="Alaska Airlines Commercial Account" name="radioDemo" value="no"></auro-radio>
  <div>
    <auro-accordion>
      <span slot="trigger">More payment options</span>
      <auro-radio id="basicGroupRadio4" label="Click to pay" name="radioDemoA" value="testinga"></auro-radio>
      <auro-radio id="basicGroupRadio4" label="Google Pay" name="radioDemoA" value="testingb"></auro-radio>
    </auro-accordion>
  </div>
</auro-radio-group>
