<auro-radio-group>
  <span slot="legend">Choose a meal preference</span>
  <auro-radio id="disabledIndRadio1" label="Standard" name="mealPref" value="standard"></auro-radio>
  <auro-radio id="disabledIndRadio2" label="Vegetarian" name="mealPref" value="vegetarian"></auro-radio>
  <auro-radio id="disabledIndRadio3" label="Kosher" name="mealPref" value="kosher" disabled></auro-radio>
  <auro-radio id="disabledIndRadio4" label="Halal" name="mealPref" value="halal" disabled></auro-radio>
</auro-radio-group>
