<auro-radio-group horizontal>
  <span slot="legend">Horizontal with >3 items (should revert to vertical)</span>
  <auro-radio id="overflowRadio1" label="One" name="overflowDemo" value="one"></auro-radio>
  <auro-radio id="overflowRadio2" label="Two" name="overflowDemo" value="two"></auro-radio>
  <auro-radio id="overflowRadio3" label="Three" name="overflowDemo" value="three"></auro-radio>
  <auro-radio id="overflowRadio4" label="Four" name="overflowDemo" value="four"></auro-radio>
</auro-radio-group>
