<div data-locale="de-DE">
  <auro-header level="4">en-GB Example</auro-header>
  <auro-input type="date" locale="en-GB">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">en-GB Date</span>
    <span slot="helpText">Help Text</span>
  </auro-input>

  <auro-header level="4">en-US Example</auro-header>
  <auro-input type="date" locale="en-US">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">en-US Date</span>
    <span slot="helpText">Help Text</span>
  </auro-input>

  <auro-header level="4">zh-CN Example</auro-header>
  <auro-input type="date" locale="zh-CN">
    <span slot="ariaLabel.clear">全部清除</span>
    <span slot="label">中文日期</span>
    <span slot="helpText">帮助文本</span>
    <span slot="optionalLabel">（可选）</span>
  </auro-input>

  <auro-header level="4">Inherited de-DE date-locale Example</auro-header>
  <auro-input type="date">
    <span slot="ariaLabel.clear">Alles löschen</span>
    <span slot="label">Nächstes `data-locale`-Attributformat (`de-DE` in diesem Fall)</span>
    <span slot="helpText">Hilfetext</span>
    <span slot="optionalLabel">(freiwillig)</span>
  </auro-input>

  <auro-header level="4">en-US with `yyyy.mm.dd` format Example</auro-header>
  <auro-input type="date" locale="en-US" format="yyyy.mm.dd">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">en-US with yyyy.mm.dd format</span>
    <span slot="helpText">Help Text</span>
</div>
