<div data-locale="de-DE">
  <auro-input type="date" locale="en-GB">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">en-GB Date</span>
    <span slot="helpText">Help Text</span>
  </auro-input>

  <auro-input type="date" locale="en-US">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">en-US Date</span>
    <span slot="helpText">Help Text</span>
  </auro-input>

  <auro-input type="date" locale="zh-CN">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">zh-CN Date</span>
    <span slot="helpText">Help Text</span>
  </auro-input>

  <auro-input type="date">
    <span slot="ariaLabel.clear">Clear All</span>
    <span slot="label">Nearest `data-locale` attribute format (`de-DE` in this case)</span>
    <span slot="helpText">Help Text</span>
  </auro-input>
</div>
