<style>
  .columned-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
  }

  .columned-form .span-2 {
    grid-column: span 2;
  }

  .columned-form-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
</style>

<auro-form>
  <div class="columned-form">
    <auro-input id="cl-first-name" name="firstName" required>
      <span slot="label">First Name</span>
    </auro-input>

    <auro-input id="cl-last-name" name="lastName" required>
      <span slot="label">Last Name</span>
    </auro-input>

    <auro-input id="cl-email" name="email" type="email" class="span-2" required>
      <span slot="label">Email</span>
    </auro-input>

    <auro-datepicker id="cl-date-range" name="dateRange" class="span-2" required range>
      <span slot="fromLabel">Departure</span>
      <span slot="toLabel">Return</span>
      <span slot="bib.fullscreen.fromLabel">Departure</span>
      <span slot="bib.fullscreen.toLabel">Return</span>
    </auro-datepicker>
  </div>

  <div class="columned-form-controls">
    <auro-button type="submit">Submit</auro-button>
  </div>
</auro-form>
