.DS_Store
node_modules/
docTemplates/
.cache/
.vscode/

## Demo support files
components/**/demo/*.md
components/**/demo/*.min.js

## CSS built from Sass process
components/**/src/**/*.css
components/**/src/**/*.css.map

## *-css built from sass-render process
*-css.js

## dist files
dist/
build/

## Code coverage reports
coverage/

## Turbo repo
.turbo
