<auro-datepicker centralDate="2023-12-03" minDate="2023-12-04" maxDate="2023-12-09">
  <span slot="bib.fullscreen.headline">dateSlot Example</span>
  <span slot="fromLabel">Choose a date</span>
  <span slot="bib.fullscreen.fromLabel">Choose a date</span>
  <span slot="date_2023_12_03">Sold</span>
  <span highlight slot="date_2023_12_04">$89</span>
  <span slot="date_2023_12_05">$100</span>
  <span slot="date_2023_12_06">$2345</span>
  <span highlight slot="date_2023_12_07">$149</span>
  <span highlight slot="date_2023_12_08">$382</span>
  <span slot="date_2023_12_09">$560</span>
</auro-datepicker>
