<div style="width: 400px">
  <auro-datepicker offset="20" placement="bottom-start" noFlip>
    <span slot="bib.fullscreen.headline">Datepicker Headline</span>
    <span slot="fromLabel">bottom-start with 20px offset and noFlip</span>
    <span slot="bib.fullscreen.dateLabel">Choose a date</span>
  </auro-datepicker>
  <auro-datepicker offset="20" placement="bottom-start">
    <span slot="bib.fullscreen.headline">Datepicker Headline</span>
    <span slot="fromLabel">bottom-start with 20px offset and flip</span>
    <span slot="bib.fullscreen.dateLabel">Choose a date</span>
  </auro-datepicker>
  <auro-datepicker offset="20" placement="right" autoPlacement noFlip>
    <span slot="bib.fullscreen.headline">Datepicker Headline</span>
    <span slot="fromLabel">right with 20px offset, noFlip and autoPlacement</span>
    <span slot="bib.fullscreen.dateLabel">Choose a date</span>
  </auro-datepicker>
</div>
