```diff
  <auro-datepicker
    locale="de-DE"
    range
+   rangeLabelStart="Startdatum"
+   rangeLabelEnd="Enddatum"
+   rangeLabelBeforeRange="vor dem Zeitraum"
+   rangeLabelInRange="im Zeitraum"
+   rangeLabelAfterRange="nach dem Zeitraum"
+   navLabelPrevMonth="Vorheriger Monat"
+   navLabelNextMonth="Nächster Monat"
+   calendarGridLabel="Kalendertage des Monats">
    <span slot="fromLabel">Abreise</span>
    <span slot="toLabel">Rückkehr</span>
    <span slot="helpText">Wählen Sie einen Zeitraum</span>
  </auro-datepicker>
```
