<auro-datepicker
  range
  monthNames='["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"]'
  locale="es-MX"
  rangeLabelStart="fecha de salida"
  rangeLabelEnd="fecha de regreso"
  rangeLabelBeforeRange="antes de la salida"
  rangeLabelInRange="entre vuelos"
  rangeLabelAfterRange="después del regreso"
  rangeLabelEndPreview="previsualizando fecha de regreso"
  navLabelPrevMonth="Ir al mes anterior"
  navLabelNextMonth="Ir al mes siguiente"
  calendarGridLabel="Días del mes del calendario"
  id="localizationExample">
  <span slot="fromLabel">Salida</span>
  <span slot="toLabel">Regreso</span>
  <span slot="helpText">Seleccione un rango de fechas</span>
  <span slot="optionalFromLabel">(opcional)</span>
  <span slot="optionalToLabel">(opcional)</span>
  <span slot="bib.fullscreen.headline">Seleccione fechas</span>
  <span slot="bib.fullscreen.fromLabel">Salida</span>
  <span slot="bib.fullscreen.toLabel">Regreso</span>
</auro-datepicker>
