<auro-datepicker range
  rangeLabelStart="fecha de salida"
  rangeLabelEnd="fecha de regreso"
  rangeLabelBeforeRange="antes de la salida"
  rangeLabelInRange="entre vuelos"
  rangeLabelAfterRange="después del regreso"
  navLabelPrevMonth="Ir al mes anterior"
  navLabelNextMonth="Ir al mes siguiente"
  id="localizationExample">
  <span slot="fromLabel">Salida</span>
  <span slot="toLabel">Regreso</span>
  <span slot="bib.fullscreen.fromLabel">Salida</span>
  <span slot="bib.fullscreen.toLabel">Regreso</span>
</auro-datepicker>
