<auro-datepicker locale="en-US">
  <span slot="ariaLabel.bib.close">Close Calendar</span>
  <span slot="bib.fullscreen.headline">en-US</span>
  <span slot="fromLabel">en-US (MM/DD/YYYY)</span>
  <span slot="bib.fullscreen.fromLabel">en-US</span>
</auro-datepicker>

<auro-datepicker locale="en-GB">
  <span slot="ariaLabel.bib.close">Close Calendar</span>
  <span slot="bib.fullscreen.headline">en-GB</span>
  <span slot="fromLabel">en-GB (DD/MM/YYYY)</span>
  <span slot="bib.fullscreen.fromLabel">en-GB</span>
</auro-datepicker>

<auro-datepicker locale="de-DE">
  <span slot="ariaLabel.bib.close">Schliessen</span>
  <span slot="bib.fullscreen.headline">de-DE</span>
  <span slot="fromLabel">de-DE (DD.MM.YYYY)</span>
  <span slot="bib.fullscreen.fromLabel">de-DE</span>
</auro-datepicker>

<auro-datepicker locale="fr-FR">
  <span slot="ariaLabel.bib.close">Fermer</span>
  <span slot="bib.fullscreen.headline">fr-FR</span>
  <span slot="fromLabel">fr-FR (DD/MM/YYYY)</span>
  <span slot="bib.fullscreen.fromLabel">fr-FR</span>
</auro-datepicker>

<auro-datepicker locale="ja-JP">
  <span slot="ariaLabel.bib.close">Close</span>
  <span slot="bib.fullscreen.headline">ja-JP</span>
  <span slot="fromLabel">ja-JP (YYYY/MM/DD)</span>
  <span slot="bib.fullscreen.fromLabel">ja-JP</span>
</auro-datepicker>

<auro-datepicker locale="ar-SA" dir="rtl">
  <span slot="ariaLabel.bib.close">Close</span>
  <span slot="bib.fullscreen.headline">ar-SA</span>
  <span slot="fromLabel">ar-SA</span>
  <span slot="bib.fullscreen.fromLabel">ar-SA</span>
</auro-datepicker>
