<auro-datepicker centralDate="12/03/2023" calendarStartDate="12/01/2023" calendarEndDate="12/31/2023" minDate="12/02/2023" maxDate="12/09/2023">
  <span slot="bib.fullscreen.headline">Popover Slot Example</span>
  <span slot="fromLabel">Choose a date</span>
  <span slot="bib.fullscreen.fromLabel">Choose a date</span>
  <span slot="popover_12_03_2023">Tickets for this day are sold out</span>
  <span slot="date_12_03_2023">$560</span>
  <span slot="popover_12_04_2023">34 seats available</span>
  <span slot="date_12_04_2023">$245</span>
  <span slot="popover_12_05_2023">18 seats available</span>
  <span slot="date_12_05_2023">$312</span>
  <span slot="popover_12_06_2023">Tickets for this day are sold out</span>
  <span slot="date_12_06_2023">$489</span>
  <span slot="popover_12_07_2023">52 seats available</span>
  <span slot="date_12_07_2023">$198</span>
  <span slot="popover_12_08_2023">7 seats available</span>
  <span slot="date_12_08_2023">$375</span>
  <span slot="popover_12_09_2023">41 seats available</span>
  <span slot="date_12_09_2023">$220</span>
</auro-datepicker>
