<auro-datepicker centralDate="2023-12-03" calendarStartDate="2023-12-01" calendarEndDate="2023-12-31" minDate="2023-12-02" maxDate="2023-12-09">
  <span slot="bib.fullscreen.headline">Popover Slot Example</span>
  <span slot="fromLabel">Choose a date</span>
  <span slot="bib.fullscreen.fromLabel">Choose a date</span>
  <span slot="popover_2023_12_03">Tickets for this day are sold out</span>
  <span slot="date_2023_12_03">$560</span>
  <span slot="popover_2023_12_04">34 seats available</span>
  <span slot="date_2023_12_04">$245</span>
  <span slot="popover_2023_12_05">18 seats available</span>
  <span slot="date_2023_12_05">$312</span>
  <span slot="popover_2023_12_06">Tickets for this day are sold out</span>
  <span slot="date_2023_12_06">$489</span>
  <span slot="popover_2023_12_07">52 seats available</span>
  <span slot="date_2023_12_07">$198</span>
  <span slot="popover_2023_12_08">7 seats available</span>
  <span slot="date_2023_12_08">$375</span>
  <span slot="popover_2023_12_09">41 seats available</span>
  <span slot="date_2023_12_09">$220</span>
</auro-datepicker>
