<auro-datepicker referenceDates='["2025-10-05", "2025-10-15", "2025-10-20", "2025-10-22"]' minDate="2025-10-12" range>
  <span slot="ariaLabel.bib.close">Close Calendar</span>
  <span slot="bib.fullscreen.headline">Datepicker Headline</span>
  <span slot="fromLabel">Choose a date</span>
  <span slot="bib.fullscreen.fromLabel">Choose a date</span>
  <span slot="popover_2025_10_05">Explanation for why this is a reference date.</span>
  <span slot="popover_2025_10_15">Explanation for why this is a reference date.</span>
  <span slot="popover_2025_10_20">Explanation for why this is a reference date.</span>
  <span slot="popover_2025_10_22">Explanation for why this is a reference date.</span>
</auro-datepicker>
