<style>
  #customTokensCounter {
    --ds-auro-counter-control-background-color: #e8d5f5;
    --ds-auro-counter-control-border-color: #7b2d8e;
    --ds-auro-counter-icon-color: #7b2d8e;
    --ds-auro-counter-quantity-text-color: #7b2d8e;
    --ds-auro-counter-divider-color: #c9a4db;
  }
</style>
<auro-counter-group id="customTokensCounter">
  <auro-counter>
    Adults
    <span slot="description">18 years or older</span>
  </auro-counter>
  <auro-counter>
    Children
    <span slot="description">2-17 years</span>
  </auro-counter>
</auro-counter-group>
