<auro-counter-group>
  <auro-counter>
    Short label
    <span slot="description"
      >This is an example of a long sub label wrapping behavior</span
    >
  </auro-counter>
  <auro-counter>
    This is an example of the wrapping behavior for a long label
    <span slot="description">with short sub label text</span>
  </auro-counter>
  <auro-counter>
    This is an example of the wrapping behavior for a long label
    <span slot="description"
      >Combined with an example of a long sub label wrapping behavior</span
    >
  </auro-counter>
</auro-counter-group>
