<div style="width: 300px;">
  <auro-dropdown common chevron>
    <div slot="trigger">Trigger</div>
    <auro-counter-group style="padding: 1em; width: 400px; max-height: 400px; overflow: scroll;">
      <auro-counter>
      Short label
      <span slot="description">This is an example of a long sub label wrapping behavior</span>
      </auro-counter>
      <auro-counter>
      This is an example of the wrapping behavior for a long label
      <span slot="description">with short sub label text</span>
      </auro-counter>
      <auro-counter>
      This is an example of the wrapping behavior for a long label
      <span slot="description">Combined with an example of a long sub label wrapping behavior</span>
      </auro-counter>
    </auro-counter-group>
  </auro-dropdown>
</div>
