
<div>
  <auro-button id="counter-drawer-opener">Counter Group in Drawer</auro-button>

  <auro-drawer id="counter-drawer">
    <span slot="header">Counter Group in Drawer</span>
    <div slot="content">
      <auro-counter-group isDropdown>
        <span slot="ariaLabel.bib.close">Close Popup</span>
        <div slot="bib.fullscreen.headline">Group fullscreen label</div>
        <div slot="label">Counter Group</div>
        <div slot="helpText">Select a value</div>
        <auro-counter>Counter 1</auro-counter>
        <auro-counter>Counter 2</auro-counter>
      </auro-counter-group>
    </div>
  </auro-drawer>
</div>
