<!-- Example of counter-group properties -->
<auro-counter-group max="10" min="2" isDropdown layout="snowflake" ondark>
  <div slot="bib.fullscreen.headline">Group fullscreen label</div>
  <auro-icon slot="typeIcon" category="interface" name="account-stroke" customColor></auro-icon>
  <div slot="label">Snowflake Dropdown Group</div>
  <div slot="helpText">Total must be between 2-10</div>
  
  <auro-counter>
    Counter 1
  </auro-counter>
  <auro-counter>
    Counter 2
  </auro-counter>
</auro-counter-group>
