<auro-combobox>
  <span slot="ariaLabel.bib.close">Close combobox</span>
  <span slot="ariaLabel.input.clear">Clear All</span>
  <span slot="bib.fullscreen.headline">Choose an airport</span>
  <span slot="label">Departure airport</span>
  <auro-menu>
    <auro-menuoption value="seattle" suggest="seattle sea seatac tacoma">Seattle&ndash;Tacoma International (SEA)</auro-menuoption>
    <auro-menuoption value="seattle" suggest="seattle pae paine field everett">Seattle Paine Field (PAE)</auro-menuoption>
    <auro-menuoption value="portland" suggest="portland pdx oregon">Portland International (PDX)</auro-menuoption>
    <auro-menuoption value="spokane" suggest="spokane geg washington">Spokane International (GEG)</auro-menuoption>
    <auro-menuoption static nomatch>No matching airport</auro-menuoption>
  </auro-menu>
</auro-combobox>
