<auro-combobox inputmode="numeric">
  <span slot="bib.fullscreen.headline">Bib Header</span>
  <span slot="label">Name</span>
  <auro-menu>
    <auro-menuoption value="1" id="option-0">1</auro-menuoption>
    <auro-menuoption value="2" id="option-1">2</auro-menuoption>
    <auro-menuoption value="3" id="option-2">3</auro-menuoption>
    <auro-menuoption value="4" id="option-3">4</auro-menuoption>
    <auro-menuoption value="5" id="option-4">5</auro-menuoption>
    <auro-menuoption static nomatch>No matching option</auro-menuoption>
  </auro-menu>
</auro-combobox>