<auro-combobox
  required
  persistInput
  setCustomValidityValueMissing="Please select an option from the list."
  >
  <span slot="bib.fullscreen.headline">Persistant Input</span>
  <span slot="label">Persistant Input</span>
  <auro-menu>
    <auro-menuoption value="Apples" id="option-0">
      Apples
      <div slot="displayValue">Apples</div>
    </auro-menuoption>
    <auro-menuoption value="Oranges" id="option-1">
      Oranges
      <div slot="displayValue">Oranges</div>
    </auro-menuoption>
    <auro-menuoption value="Peaches" id="option-2">
      Peaches
      <div slot="displayValue">Peaches</div>
    </auro-menuoption>
    <auro-menuoption value="Grapes" id="option-3">
      Grapes
      <div slot="displayValue">Grapes</div>
    </auro-menuoption>
    <auro-menuoption value="Cherries" id="option-4">
      Cherries
      <div slot="displayValue">Cherries</div>
    </auro-menuoption>
  </auro-menu>
</auro-combobox>