<auro-combobox type="tel">
  <span slot="bib.fullscreen.headline">Phone Number</span>
  <span slot="label">Phone Number</span>
  <auro-menu>
    <auro-menuoption value="+1 (206) 555-1234" id="option-tel-0">+1 (206) 555-1234</auro-menuoption>
    <auro-menuoption value="+1 (425) 555-9876" id="option-tel-1">+1 (425) 555-9876</auro-menuoption>
    <auro-menuoption value="+1 (360) 555-4321" id="option-tel-2">+1 (360) 555-4321</auro-menuoption>
    <auro-menuoption value="+1 (509) 555-6789" id="option-tel-3">+1 (509) 555-6789</auro-menuoption>
    <auro-menuoption static nomatch>No matching number</auro-menuoption>
  </auro-menu>
</auro-combobox>
