<style>
  #customTokensMenu {
    --ds-auro-menu-divider-color: #c9a4db;
    --ds-auro-menuoption-container-color: #f3eaf8;
    --ds-auro-menuoption-container-border-color: #7b2d8e;
    --ds-auro-menuoption-icon-color: #5b1a6e;
    --ds-auro-menuoption-text-color: #5b1a6e;
  }
</style>

<auro-menu id="customTokensMenu">
  <auro-menuoption value="stops">Stops</auro-menuoption>
  <auro-menuoption value="price" selected>Price</auro-menuoption>
  <auro-menuoption value="duration">Duration</auro-menuoption>
  <hr>
  <auro-menuoption value="departure">Departure</auro-menuoption>
  <auro-menuoption value="arrival">Arrival</auro-menuoption>
</auro-menu>
