<auro-input id="persistentExampleInput">
  <span slot="label">Type to highlight matches</span>
</auro-input>
<br />
<auro-menu id="persistentExampleMenu">
  <auro-menuoption value="stops">Stops</auro-menuoption>
  <auro-menuoption value="price">Price</auro-menuoption>
  <auro-menuoption value="duration">Duration</auro-menuoption>
  <auro-menuoption value="departure">Departure</auro-menuoption>
  <auro-menuoption value="arrival">Arrival</auro-menuoption>
  <auro-menuoption value="add" persistent>+ Add a new sort option</auro-menuoption>
</auro-menu>
