// See LICENSE in the project root for license information.

// ---------------------------------------------------------------------

// Support for fallback values
@import '@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

/* stylelint-disable no-descending-specificity, declaration-empty-line-before */

.label {
  color: var(--ds-auro-dropdown-label-text-color);
}

.trigger {
  border-color: var(--ds-auro-dropdown-trigger-border-color);
  background-color: var(--ds-auro-dropdown-trigger-container-color);
  color: var(--ds-auro-dropdown-trigger-text-color);

  &:focus-within,
  &:active {
    --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-active-default, #{$ds-color-border-active-default});
  }

  &:focus-within {
    &:not(:active) {
      --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-ui-focus-default, #{$ds-color-border-ui-focus-default});
      box-shadow: inset 0 0 0 1px var(--ds-color-border-ui-focus-default, #{$ds-color-border-ui-focus-default});
    }
  }

  &:hover {
    --ds-auro-dropdown-trigger-container-color: var(--ds-color-container-ui-secondary-hover-default, #{$ds-color-container-ui-secondary-hover-default});
  }
}

.helpText {
  color: var(--ds-auro-dropdown-help-text-color);
}

:host([disabled]) {
  --ds-auro-dropdown-trigger-text-color: var(--ds-color-text-ui-disabled-default, #{$ds-color-text-ui-disabled-default});
  --ds-auro-dropdown-label-text-color: var(--ds-color-text-ui-disabled-default, #{$ds-color-text-ui-disabled-default});
}

:host([common]),
:host([bordered]) {
  --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-primary-default, #{$ds-color-border-primary-default});

  .trigger {
    &:active,
    &:focus-within {
      --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-ui-focus-default, #{$ds-color-border-ui-focus-default});
    }
  }
}

:host([error]) {
  --ds-auro-dropdown-help-text-color: var(--ds-color-text-error-default, #{$ds-color-text-error-default});
  --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-error-default, #{$ds-color-border-error-default});

  .trigger {
    box-shadow: inset 0 0 0 1px var(--ds-auro-dropdown-trigger-border-color);

    &:focus-within,
    &:active {
      --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-active-default, #{$ds-color-border-active-default});
    }

    &:active {
      box-shadow: none;
    }
  }
}

:host([disabled][common]),
:host([disabled][bordered]) {
  --ds-auro-dropdown-trigger-border-color: var(--ds-color-border-ui-disabled-default, #{$ds-color-border-ui-disabled-default});
}
