/* stylelint-disable */

@use '@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables';

// SIZES
$borderSize: 2px;
$xl: calc(72px - ($borderSize * 2));
$lg: calc(56px - ($borderSize * 2));
$md: calc(48px - ($borderSize * 2));
$sm: calc(36px - ($borderSize * 2));
$xs: calc(24px - ($borderSize * 2));

// SHAPES ---------------------------------------------------

@mixin simple($size) {
  &.simple {
    border-width: 0;
    min-height: $size;
    max-height: $size;
    background-color: unset;
  }
}

.shape-snowflake-xl,
.shape-snowflake-lg,
.shape-snowflake-md,
.shape-snowflake-sm,
.shape-snowflake-xs {
  min-height: 56px;
  max-height: 56px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 30px;

  @include simple(60px);
}

.shape-box-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;

  @include simple($xl + $borderSize + $borderSize);
}

.shape-rounded-lg {
  min-height: $lg;
  max-height: $lg;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 6px;

  @include simple($xl + $borderSize + $borderSize);
}

.shape-pill-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2);

  @include simple($xl + $borderSize + $borderSize);
}

.shape-pill-left-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2) 0 0 calc($xl / 2);

  @include simple($xl + $borderSize + $borderSize);
}

.shape-pill-right-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 0 calc($xl / 2) calc($xl / 2) 0;

  @include simple($xl + $borderSize + $borderSize);
}

.shape-pill-md {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2);

  @include simple($xl + $borderSize + $borderSize);
}

.shape-pill-left-md {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2) 0 0 calc($xl / 2);

  @include simple($xl + $borderSize + $borderSize);
}

.shape-pill-right-md {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 0 calc($xl / 2) calc($xl / 2) 0;

  @include simple($xl + $borderSize + $borderSize);
}