@use "@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables" as vac;

:host {
  position: relative;
  display: inline-block;
  text-align: left;
  transform: translateZ(0); // fixes a safari rendering issue
}

:host([fluid]) {
  display: block;

  ::slotted([slot='trigger']) {
    width: 100%;
  }
}

:host([open]) {
  z-index: var(--depth-tooltip, #{vac.$ds-depth-tooltip});
}

:host([open][isbibfullscreen]) {
  position: fixed;
  top: 0;
  left: 0;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
}

.triggerContentWrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host([matchwidth]) {
  #bibSizer {
    width: 100%;
  }
}
