/* stylelint-disable no-duplicate-selectors, max-nesting-depth, no-descending-specificity */


@import "@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables";

@import '@aurodesignsystem/webcorestylesheets/src/breakpoints';

@import 'mixins';

input {
  border: unset;
}

.wrapper {
  position: relative;
  overflow: hidden;
  border-style: solid;
}

:host(:not([bordered], [borderless])) {
  .wrapper {
    border-width: 1px 0;
  }
}

:host([bordered]) {
  .wrapper {
    border-width: 1px;
    border-radius: var(--ds-border-radius, $ds-border-radius);
  }
}

// FOCUS STATE

:host(:not([borderless])) {
  .wrapper {
    &:focus-within {
      @include border-highlight-style;
    }
  }
}

// INVALID STATE

:host([validity]:not([validity='valid'])) {
  .wrapper {
    &:before {
      border-bottom: 0;
    }
  }
}
