// Handles the hidden state of the notification icons
@mixin hidden-notification {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

// Handles the transition animation for the input field
@mixin transition-animation {
  transition: all .3s cubic-bezier(.215, .61, .355, 1);
}

// Handles highlighting the border during focus and invalid states
@mixin border-highlight-style {
  &:before {
    position: absolute;
    display: block;

    /* stylelint-disable declaration-block-no-redundant-longhand-properties */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* stylelint-enable declaration-block-no-redundant-longhand-properties */

    content: '';
    inset: 0;
    pointer-events: none;
  }
}

// Handle highlighting the border during focus and invalid state
@mixin border-highlight-color {
  &:before {
    border-bottom-color: transparent;
  }
}

// Handle the active state of the label
@mixin active-label {
  top: var(--ds-size-100, $ds-size-100);
  font-size: var(--ds-text-body-size-xs, $ds-text-body-size-xs);
  transform: unset;
}
