/* stylelint-disable */

@use '@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables';

// SIZES
$borderSize: 2px;
$xl: calc(72px - ($borderSize * 2));
$lg: calc(48px - ($borderSize * 2));
$md: calc(36px - ($borderSize * 2));
$sm: calc(24px - ($borderSize * 2));
$xs: calc(16px - ($borderSize * 2));

// SHAPES ---------------------------------------------------

.shape-box-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  overflow: hidden;
}

.shape-rounded-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2);
  overflow: hidden;
}

.shape-pill-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2);
  overflow: hidden;
}

.shape-pill-left-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2) 0 0 calc($xl / 2);
  overflow: hidden;
}

.shape-pill-right-xl {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 0 calc($xl / 2) calc($xl / 2) 0;
  overflow: hidden;
}

.shape-pill-md {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2);
  overflow: hidden;
}

.shape-pill-left-md {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: calc($xl / 2) 0 0 calc($xl / 2);
  overflow: hidden;
}

.shape-pill-right-md {
  min-height: $xl;
  max-height: $xl;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 0 calc($xl / 2) calc($xl / 2) 0;
  overflow: hidden;
}