@use '@aurodesignsystem/webcorestylesheets/src/utilityClasses/displayProperties';

/* stylelint-disable selector-class-pattern */

// COMMON FOR ALL ---------------------------------------------------

/* stylelint-disable selector-max-class, max-nesting-depth, selector-class-pattern, scss/selector-nest-combinators */

:host {
  display: block;
}

.wrapper {
  cursor: text;
}

.helpTextClasses {
  cursor: default;
}

input {
  overflow: hidden;
  width: 100%;
  padding: 0;
  border: 0;
  background: unset;
  outline: none;
  text-overflow: ellipsis;
}

.displayValue {
  display: none;

  &.hasContent:is(.withValue):not(.hasFocus) {
    display: flex;
    align-items: center;
  }
}

.accents {
  &:not(.util_displayHidden) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
