/* stylelint-disable selector-class-pattern */

@use "@aurodesignsystem/design-tokens/dist/themes/alaska/SCSSVariables--alaska" as v;

.layout-classic {
  label {
    color: var(--ds-auro-input-label-text-color);
  }

  // focus state
  &:focus-within {
    --ds-auro-input-border-color: var(--ds-basic-color-border-brand, #{v.$ds-basic-color-border-brand});
    --ds-auro-input-outline-color: var(--ds-basic-color-border-brand, #{v.$ds-basic-color-border-brand});
  }
}

// not valid state

:host(:not([ondark])) {
  .layout-classic {
    &:focus-within {
      --ds-auro-input-border-color: var(--ds-basic-color-border-brand, #{v.$ds-basic-color-border-brand});
      --ds-auro-input-outline-color: var(--ds-basic-color-border-brand, #{v.$ds-basic-color-border-brand});
    }
  }
}

:host([ondark]) {
  .layout-classic {
    &:focus-within {
      --ds-auro-input-border-color: var(--ds-basic-color-border-inverse, #{v.$ds-basic-color-border-inverse});
      --ds-auro-input-outline-color: var(--ds-basic-color-border-inverse, #{v.$ds-basic-color-border-inverse});
    }
  }
}

:host([layout*="classic"]:not([ondark]):is([validity]:not([validity='valid']))) {
  --ds-auro-input-border-color: var(--ds-basic-color-status-error, #{v.$ds-basic-color-status-error});
  --ds-auro-input-outline-color: var(--ds-basic-color-status-error, #{v.$ds-basic-color-status-error});

  .layout-classic {
    &:focus-within {
      --ds-auro-input-border-color: var(--ds-basic-color-border-brand, #{v.$ds-basic-color-border-brand});
      --ds-auro-input-outline-color: var(--ds-basic-color-border-brand, #{v.$ds-basic-color-border-brand});
    }
  }
}

:host([layout*="classic"][ondark]:is([validity]:not([validity='valid']))) {
  --ds-auro-input-border-color: var(--ds-basic-color-status-error-subtle, #{v.$ds-basic-color-status-error-subtle});
  --ds-auro-input-outline-color: var(--ds-basic-color-status-error-subtle, #{v.$ds-basic-color-status-error-subtle});

  .layout-classic {
    &:focus-within {
      --ds-auro-input-border-color: var(--ds-basic-color-border-inverse, #{v.$ds-basic-color-border-inverse});
      --ds-auro-input-outline-color: var(--ds-basic-color-border-inverse, #{v.$ds-basic-color-border-inverse});
    }
  }
}
