<custom-checkbox-group>
  <span slot="legend">Form label goes here</span>
  <custom-checkbox value="value1" name="example1" id="checkbox-custom1">Custom checkbox option</custom-checkbox>
  <custom-checkbox value="value2" name="example2" id="checkbox-custom2" checked>Custom checkbox option</custom-checkbox>
  <custom-checkbox value="value3" name="example3" id="checkbox-custom3">Custom checkbox option</custom-checkbox>
  <custom-checkbox value="value4" name="example4" id="checkbox-custom4">Custom checkbox option</custom-checkbox>
</custom-checkbox-group>
