<style>
  #customTokensExample {
    --ds-auro-checkbox-border-color: purple;
    --ds-auro-checkbox-checkmark-color: white;
    --ds-auro-checkbox-container-color: lavender;
    --ds-auro-checkbox-label-color: purple;
    --ds-auro-checkbox-outline-color: mediumpurple;
    --ds-auro-checkbox-group-text-color: purple;
  }
</style>
<auro-checkbox-group id="customTokensExample">
  <span slot="legend">Custom themed checkbox group</span>
  <auro-checkbox value="value1" name="tokens" id="checkbox-tokens1">Checkbox option</auro-checkbox>
  <auro-checkbox value="value2" name="tokens" id="checkbox-tokens2" checked>Checkbox option</auro-checkbox>
  <auro-checkbox value="value3" name="tokens" id="checkbox-tokens3">Checkbox option</auro-checkbox>
</auro-checkbox-group>
