<auro-checkbox-group required noValidate setCustomValidityValueMissing="Please select an option" id="noValidateExample">
  <span slot="legend">No auto-validation on blur</span>
  <auro-checkbox value="value1" name="noValidate" id="checkbox-noValidate1">Checkbox option</auro-checkbox>
  <auro-checkbox value="value2" name="noValidate" id="checkbox-noValidate2">Checkbox option</auro-checkbox>
  <auro-checkbox value="value3" name="noValidate" id="checkbox-noValidate3">Checkbox option</auro-checkbox>
</auro-checkbox-group>
