<form>
  <auro-select autocomplete="country-name">
    <span slot="label">Select Your Country</span>
    <span slot="bib.fullscreen.headline">Select Your Country</span>
    <auro-menu>
      <auro-menuoption value="US">United States</auro-menuoption>
      <auro-menuoption value="CA">Canada</auro-menuoption>
      <auro-menuoption value="MX">Mexico</auro-menuoption>
      <auro-menuoption value="GB">United Kingdom</auro-menuoption>
      <auro-menuoption value="FR">France</auro-menuoption>
      <auro-menuoption value="DE">Germany</auro-menuoption>
      <auro-menuoption value="JP">Japan</auro-menuoption>
      <auro-menuoption value="AU">Australia</auro-menuoption>
      <auro-menuoption value="BR">Brazil</auro-menuoption>
      <auro-menuoption value="IN">India</auro-menuoption>
    </auro-menu>
  </auro-select>
</form>