<auro-select>
  <span slot="ariaLabel.bib.close">Close Popup</span>
  <span slot="bib.fullscreen.headline">Bib Headline</span>
  <span slot="label">Select Example</span>
  <auro-menu>
    <auro-menuoption value="stops-val">Stops</auro-menuoption>
    <auro-menuoption value="price-val">Price</auro-menuoption>
    <auro-menuoption value="duration-val">Duration</auro-menuoption>
    <auro-menuoption value="departure-val">Departure</auro-menuoption>
    <auro-menuoption value="arrival-val">Arrival</auro-menuoption>
    <auro-menuoption value="prefer-alaska-val">Prefer Alaska</auro-menuoption>
  </auro-menu>
</auro-select>
