<auro-select id="displayValueExample" autocomplete="address-level1">
  <span slot="bib.fullscreen.headline">Select Your Gender</span>
  <span slot="label">Gender</span>
  <span slot="displayValue"></span>
    <auro-menu>
      <auro-menuoption value="m" data-display="Male">M - Male
        <span slot="displayValue">Male</span>
      </auro-menuoption>
      <auro-menuoption value="f" data-display="Female">F - Female
        <span slot="displayValue">Female</span>
      </auro-menuoption>
      <auro-menuoption value="x" data-display="Unspecified">X - Unspecified
        <span slot="displayValue">Unspecified</span>
      </auro-menuoption>
      <auro-menuoption value="u" data-display="Undisclosed">U - Undisclosed
        <span slot="displayValue">Undisclosed</span>
      </auro-menuoption>
  </auro-menu>
</auro-select>
