<auro-select forceDisplayValue>
  <span slot="label">Travel type</span>
  <auro-menu>
    <auro-menuoption value="flights">
      Flights
      <auro-icon slot="displayValue" category="terminal" name="plane-diag-fill" customcolor></auro-icon>
    </auro-menuoption>
    <auro-menuoption value="cars">
      Cars
      <auro-icon slot="displayValue" category="destination" name="car-rental-stroke" customcolor></auro-icon>
    </auro-menuoption>
    <auro-menuoption value="hotels">
      Hotels
      <auro-icon slot="displayValue" category="destination" name="hotel-filled" customcolor></auro-icon>
    </auro-menuoption>
  </auro-menu>
</auro-select>
