<auro-select multiselect>
  <span slot="ariaLabel.bib.close">Close Popup</span>
  <span slot="bib.fullscreen.headline">Choose airports</span>
  <label slot="placeholder">Select one or more airports</label>
  <span slot="label">Airports served</span>
  <auro-menu>
    <auro-menuoption value="seattle">Seattle&ndash;Tacoma International (SEA)</auro-menuoption>
    <auro-menuoption value="seattle">Seattle Paine Field (PAE)</auro-menuoption>
    <auro-menuoption value="portland">Portland International (PDX)</auro-menuoption>
    <auro-menuoption value="spokane">Spokane International (GEG)</auro-menuoption>
  </auro-menu>
</auro-select>
