<auro-select>
  <span slot="ariaLabel.bib.close">Close Popup</span>
  <span slot="bib.fullscreen.headline">Bib Headline</span>
  <span slot="label">Select Example</span>
  <auro-menu>
    <auro-menuoption value="united-states">United States</auro-menuoption>
    <auro-menuoption value="canada">Canada</auro-menuoption>
    <auro-menuoption value="mexico">Mexico</auro-menuoption>
    <hr />
    <auro-menuoption value="afghanistan">Afghanistan</auro-menuoption>
    <auro-menuoption value="argentina">Argentina</auro-menuoption>
    <auro-menuoption value="australia">Australia</auro-menuoption>
    <auro-menuoption value="austria">Austria</auro-menuoption>
    <auro-menuoption value="bangladesh">Bangladesh</auro-menuoption>
    <auro-menuoption value="belgium">Belgium</auro-menuoption>
    <auro-menuoption value="bolivia">Bolivia</auro-menuoption>
    <auro-menuoption value="brazil">Brazil</auro-menuoption>
    <auro-menuoption value="bulgaria">Bulgaria</auro-menuoption>
    <auro-menuoption value="cambodia">Cambodia</auro-menuoption>
    <auro-menuoption value="cameroon">Cameroon</auro-menuoption>
    <auro-menuoption value="canada">Canada</auro-menuoption>
    <auro-menuoption value="chile">Chile</auro-menuoption>
    <auro-menuoption value="china">China</auro-menuoption>
    <auro-menuoption value="colombia">Colombia</auro-menuoption>
    <auro-menuoption value="costa-rica">Costa Rica</auro-menuoption>
    <auro-menuoption value="croatia">Croatia</auro-menuoption>
    <auro-menuoption value="cuba">Cuba</auro-menuoption>
    <auro-menuoption value="czech-republic">Czech Republic</auro-menuoption>
    <auro-menuoption value="denmark">Denmark</auro-menuoption>
    <auro-menuoption value="dominican-republic">Dominican Republic</auro-menuoption>
    <auro-menuoption value="ecuador">Ecuador</auro-menuoption>
    <auro-menuoption value="egypt">Egypt</auro-menuoption>
    <auro-menuoption value="el-salvador">El Salvador</auro-menuoption>
    <auro-menuoption value="ethiopia">Ethiopia</auro-menuoption>
    <auro-menuoption value="fiji">Fiji</auro-menuoption>
    <auro-menuoption value="finland">Finland</auro-menuoption>
    <auro-menuoption value="france">France</auro-menuoption>
    <auro-menuoption value="germany">Germany</auro-menuoption>
    <auro-menuoption value="ghana">Ghana</auro-menuoption>
    <auro-menuoption value="greece">Greece</auro-menuoption>
    <auro-menuoption value="guatemala">Guatemala</auro-menuoption>
    <auro-menuoption value="honduras">Honduras</auro-menuoption>
    <auro-menuoption value="hungary">Hungary</auro-menuoption>
    <auro-menuoption value="iceland">Iceland</auro-menuoption>
    <auro-menuoption value="india">India</auro-menuoption>
    <auro-menuoption value="indonesia">Indonesia</auro-menuoption>
    <auro-menuoption value="iran">Iran</auro-menuoption>
    <auro-menuoption value="iraq">Iraq</auro-menuoption>
    <auro-menuoption value="ireland">Ireland</auro-menuoption>
    <auro-menuoption value="israel">Israel</auro-menuoption>
    <auro-menuoption value="italy">Italy</auro-menuoption>
    <auro-menuoption value="jamaica">Jamaica</auro-menuoption>
    <auro-menuoption value="japan">Japan</auro-menuoption>
    <auro-menuoption value="jordan">Jordan</auro-menuoption>
    <auro-menuoption value="kazakhstan">Kazakhstan</auro-menuoption>
    <auro-menuoption value="kenya">Kenya</auro-menuoption>
    <auro-menuoption value="kuwait">Kuwait</auro-menuoption>
    <auro-menuoption value="laos">Laos</auro-menuoption>
    <auro-menuoption value="lebanon">Lebanon</auro-menuoption>
    <auro-menuoption value="libya">Libya</auro-menuoption>
    <auro-menuoption value="malaysia">Malaysia</auro-menuoption>
    <auro-menuoption value="maldives">Maldives</auro-menuoption>
    <auro-menuoption value="mali">Mali</auro-menuoption>
    <auro-menuoption value="mauritius">Mauritius</auro-menuoption>
    <auro-menuoption value="mexico">Mexico</auro-menuoption>
    <auro-menuoption value="monaco">Monaco</auro-menuoption>
    <auro-menuoption value="mongolia">Mongolia</auro-menuoption>
    <auro-menuoption value="morocco">Morocco</auro-menuoption>
    <auro-menuoption value="mozambique">Mozambique</auro-menuoption>
    <auro-menuoption value="myanmar">Myanmar</auro-menuoption>
    <auro-menuoption value="nepal">Nepal</auro-menuoption>
    <auro-menuoption value="netherlands">Netherlands</auro-menuoption>
    <auro-menuoption value="new-zealand">New Zealand</auro-menuoption>
    <auro-menuoption value="nicaragua">Nicaragua</auro-menuoption>
    <auro-menuoption value="nigeria">Nigeria</auro-menuoption>
    <auro-menuoption value="north-korea">North Korea</auro-menuoption>
    <auro-menuoption value="norway">Norway</auro-menuoption>
    <auro-menuoption value="oman">Oman</auro-menuoption>
    <auro-menuoption value="pakistan">Pakistan</auro-menuoption>
    <auro-menuoption value="panama">Panama</auro-menuoption>
    <auro-menuoption value="paraguay">Paraguay</auro-menuoption>
    <auro-menuoption value="peru">Peru</auro-menuoption>
    <auro-menuoption value="philippines">Philippines</auro-menuoption>
    <auro-menuoption value="poland">Poland</auro-menuoption>
    <auro-menuoption value="portugal">Portugal</auro-menuoption>
    <auro-menuoption value="qatar">Qatar</auro-menuoption>
    <auro-menuoption value="romania">Romania</auro-menuoption>
    <auro-menuoption value="russia">Russia</auro-menuoption>
    <auro-menuoption value="saudi-arabia">Saudi Arabia</auro-menuoption>
    <auro-menuoption value="senegal">Senegal</auro-menuoption>
    <auro-menuoption value="serbia">Serbia</auro-menuoption>
    <auro-menuoption value="singapore">Singapore</auro-menuoption>
    <auro-menuoption value="slovakia">Slovakia</auro-menuoption>
    <auro-menuoption value="south-africa">South Africa</auro-menuoption>
    <auro-menuoption value="south-korea">South Korea</auro-menuoption>
    <auro-menuoption value="spain">Spain</auro-menuoption>
    <auro-menuoption value="sri-lanka">Sri Lanka</auro-menuoption>
    <auro-menuoption value="sudan">Sudan</auro-menuoption>
    <auro-menuoption value="sweden">Sweden</auro-menuoption>
    <auro-menuoption value="switzerland">Switzerland</auro-menuoption>
    <auro-menuoption value="taiwan">Taiwan</auro-menuoption>
    <auro-menuoption value="tanzania">Tanzania</auro-menuoption>
    <auro-menuoption value="thailand">Thailand</auro-menuoption>
    <auro-menuoption value="tunisia">Tunisia</auro-menuoption>
    <auro-menuoption value="turkey">Turkey</auro-menuoption>
    <auro-menuoption value="uganda">Uganda</auro-menuoption>
    <auro-menuoption value="ukraine">Ukraine</auro-menuoption>
    <auro-menuoption value="united-arab-emirates">United Arab Emirates</auro-menuoption>
    <auro-menuoption key="key1" value="united-states">United Kingdom</auro-menuoption>
    <auro-menuoption key="key2" value="united-states">United States</auro-menuoption>
    <auro-menuoption value="uruguay">Uruguay</auro-menuoption>
    <auro-menuoption value="venezuela">Venezuela</auro-menuoption>
    <auro-menuoption value="vietnam">Vietnam</auro-menuoption>
  </auro-menu>
</auro-select>
