<auro-button id="resetStateBtn">Reset</auro-button>
<br/><br/>

<auro-select id="resetStateExample" value='["price"]'>
  <span slot="bib.fullscreen.headline">Bib Headline</span>
  <label slot="placeholder">Placeholder Text</label>
  <span slot="label">Name</span>
  <auro-menu>
    <auro-menuoption value="stops">Stops</auro-menuoption>
    <auro-menuoption value="price">Price</auro-menuoption>
    <auro-menuoption value="duration">Duration</auro-menuoption>
    <auro-menuoption value="departure">Departure</auro-menuoption>
    <auro-menuoption value="arrival">Arrival</auro-menuoption>
    <auro-menuoption value="prefer alaska">Prefer Alaska</auro-menuoption>
  </auro-menu>
</auro-select>
