<auro-select>
  <span slot="ariaLabel.bib.close">Close Popup</span>
  <span slot="bib.fullscreen.headline">Airport</span>
  <span slot="label">Destination airport</span>
  <auro-menu>
    <auro-menuoption value="ANC">Anchorage</auro-menuoption>
    <auro-menuoption value="ATL">Atlanta</auro-menuoption>
    <auro-menuoption value="AUS">Austin</auro-menuoption>
    <auro-menuoption value="BOS">Boston</auro-menuoption>
    <auro-menuoption value="DEN">Denver</auro-menuoption>
    <auro-menuoption value="DFW" disabled>Dallas/Fort Worth</auro-menuoption>
    <auro-menuoption value="DTW">Detroit</auro-menuoption>
    <auro-menuoption value="HNL">Honolulu</auro-menuoption>
    <auro-menuoption value="LAX">Los Angeles</auro-menuoption>
    <auro-menuoption value="MIA">Miami</auro-menuoption>
    <auro-menuoption value="ORD">Chicago</auro-menuoption>
    <auro-menuoption value="PDX">Portland</auro-menuoption>
    <auro-menuoption value="PHX">Phoenix</auro-menuoption>
    <auro-menuoption value="SAN">San Diego</auro-menuoption>
    <auro-menuoption value="SEA">Seattle</auro-menuoption>
    <auro-menuoption value="SFO">San Francisco</auro-menuoption>
    <auro-menuoption value="SJC" disabled>San Jose</auro-menuoption>
    <auro-menuoption value="SLC">Salt Lake City</auro-menuoption>
  </auro-menu>
</auro-select>
