<auro-select id="valueTextExample" autocomplete="address-level1">
  <span slot="bib.fullscreen.headline">Select Your Gender</span>
  <span slot="label">Gender</span>
  <span slot="valueText"></span>
    <auro-menu>
      <auro-menuoption value="m" data-display="Male">M - Male</auro-menuoption>
      <auro-menuoption value="f" data-display="Female">F - Female</auro-menuoption>
      <auro-menuoption value="x" data-display="Unspecified">X - Unspecified</auro-menuoption>
      <auro-menuoption value="u" data-display="Undisclosed">U - Undisclosed</auro-menuoption>
  </auro-menu>
</auro-select>
