@use "@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables" as vac;
@use "@aurodesignsystem/design-tokens/dist/themes/alaska/SCSSVariables--alaska" as v;

:host([layout="snowflake"]) {
  &[disabled] {
    .mainContent label ::slotted(*) {
      color: var(--ds-auro-icon-color);
    }
  }

  label {
    color: var(--ds-basic-color-texticon-inverse-muted, v.$ds-basic-color-texticon-inverse-muted);
  }

  .inputDivider {
    background-color: var(--ds-basic-color-texticon-inverse-muted, v.$ds-basic-color-texticon-inverse-muted);
  }

  .error {
    color: var(--ds-basic-color-status-error-subtle, v.$ds-basic-color-status-error-subtle);
  }

  [auro-input] {
    &::part(input)::placeholder {
      color: var(--ds-basic-color-texticon-inverse-muted, v.$ds-basic-color-texticon-inverse-muted);
    }
  }

  // designs call for no border when not active, focused, or in an error state
  [auro-dropdown]:not(:is([error], .hasFocus))::part(wrapper) {
    --ds-auro-dropdown-trigger-border-color: transparent;
  }
}
