@use "@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables" as vac;

:host([layout*='snowflake']) {
  [auro-input] {
    flex: 1;
    text-align: center;

    &::part(label),
    &::part(accent-left),
    &::part(accent-right) {
      display: none;
    }

    &::part(input) {
      padding-bottom: unset;
      text-align: center;

      transition: unset; // default transition makes input "slide" in
    }

    &::part(wrapper) {
      // for layout overrides on input
      min-height: unset;
      max-height: unset;
      box-shadow: unset;

      .mainContent {
        padding-bottom: unset;
      }
    }

    &::part(inputHelpText) {
      display: none;
    }

    &::part(displayValue) {
      justify-content: center;
    }
  }

  [auro-dropdown]::part(trigger) {
    width: 100%;
  }

  // for the trigger content

  .dpTriggerContent {
    width: 100%;
  }

  .wrapper {
    height: 60px;
    // TODO: update to tokens (token x 2 for 48px)
    width: calc(100% - 48px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // TODO: update to tokens
    padding-left: 24px;
    padding-right: 24px;
  }

  // unfocused state(s)

  label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .inputDivider {
    // TODO: add fallback for tokens
    height: 18px;
    margin: 4px 12px;
    width: 2px;
  }

  .inputSection:not(:is(.disabled, .hasFocus, .hasValue)) {
    .inputDivider {
      display: none;
    }
  }
}

// TODO: refactor this - should not just hide _everything_
:host([layout*='snowflake'][disabled]) {
  pointer-events: none;
}
