<style>
  #customTokensDropdown {
    --ds-auro-dropdown-label-text-color: #5b1a6e;
    --ds-auro-dropdown-trigger-background-color: #e8d5f5;
    --ds-auro-dropdown-trigger-hover-background-color: #d4b8e8;
    --ds-auro-dropdown-trigger-container-color: #f3eaf8;
    --ds-auro-dropdown-trigger-border-color: #7b2d8e;
    --ds-auro-dropdown-trigger-outline-color: #c9a4db;
    --ds-auro-dropdown-trigger-text-color: #7b2d8e;
    --ds-auro-dropdownbib-boxshadow-color: rgba(123, 45, 142, 0.3);
    --ds-auro-dropdownbib-background-color: #f3eaf8;
    --ds-auro-dropdownbib-container-color: #f3eaf8;
    --ds-auro-dropdownbib-text-color: #5b1a6e;
  }
</style>
<auro-dropdown id="customTokensDropdown" layout="classic" shape="classic" size="lg" chevron aria-label="Custom styled dropdown">
  <div style="padding: var(--ds-size-150);">
    Lorem ipsum solar
  </div>
  <span slot="helpText">Help text</span>
  <div slot="trigger">
    Trigger
  </div>
</auro-dropdown>
