<auro-dropdown chevron placement="top" aria-label="Top placement example">
  <div style="padding: var(--ds-size-150);">
    Bib content placed above the trigger.
  </div>
  <div slot="trigger">
    Trigger (top placement)
  </div>
</auro-dropdown>

<br />

<auro-dropdown chevron placement="bottom-end" aria-label="Bottom-end placement example">
  <div style="padding: var(--ds-size-150);">
    Bib content placed at bottom-end.
  </div>
  <div slot="trigger">
    Trigger (bottom-end placement)
  </div>
</auro-dropdown>
